NET "segment<0>" LOC = P22 | IOSTANDARD = LVTTL;
NET "segment<1>" LOC = P24 | IOSTANDARD = LVTTL;
NET "segment<2>" LOC = P27 | IOSTANDARD = LVTTL;
NET "segment<3>" LOC = P30 | IOSTANDARD = LVTTL;
NET "segment<4>" LOC = P33 | IOSTANDARD = LVTTL;
NET "segment<5>" LOC = P35 | IOSTANDARD = LVTTL;
NET "segment<6>" LOC = P41 | IOSTANDARD = LVTTL;
NET "segment<7>" LOC = P51 | IOSTANDARD = LVTTL;

NET "hiscore_sel<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "hiscore_sel<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "hiscore_sel<2>" LOC = P5 | IOSTANDARD = LVTTL;

NET "score_sel<0>" LOC = P6 | IOSTANDARD = LVTTL;
NET "score_sel<1>" LOC = P7 | IOSTANDARD = LVTTL;
NET "score_sel<2>" LOC = P8 | IOSTANDARD = LVTTL;

NET "light<0>" LOC = P78 | IOSTANDARD = LVTTL;
NET "light<1>" LOC = P80 | IOSTANDARD = LVTTL;
NET "light<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "light<3>" LOC = P84 | IOSTANDARD = LVTTL;
NET "light<4>" LOC = P87 | IOSTANDARD = LVTTL;
NET "light<5>" LOC = P92 | IOSTANDARD = LVTTL;
NET "light<6>" LOC = P94 | IOSTANDARD = LVTTL;
NET "light<7>" LOC = P97 | IOSTANDARD = LVTTL;
NET "light<8>" LOC = P99 | IOSTANDARD = LVTTL;
NET "light<9>" LOC = P101 | IOSTANDARD = LVTTL;
NET "light<10>" LOC = P104 | IOSTANDARD = LVTTL;
NET "light<11>" LOC = P111 | IOSTANDARD = LVTTL;
NET "light<12>" LOC = P114 | IOSTANDARD = LVTTL;
NET "light<13>" LOC = P116 | IOSTANDARD = LVTTL;
NET "light<14>" LOC = P118 | IOSTANDARD = LVTTL;
NET "light<15>" LOC = P120 | IOSTANDARD = LVTTL;

# PULLDOWN is needed to prevent floating inputs
NET "switch<0>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<1>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<2>" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<3>" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<4>" LOC = P88 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<5>" LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<6>" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<7>" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<8>" LOC = P100 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<9>" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<10>" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<11>" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<12>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<13>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<14>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch<15>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;

NET "start_button" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;